/*------------------------------------*\
    RESET
\*------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------------------Global Styles------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  margin: 0 auto;
  width: 80%;
  max-width: 1240px;
  font-family: "Roboto", sans-serif;
}

/* Typography */

h1 {
  font-size: 28px;
  font-weight: 300;
  flex: 1;
}

h5 {
  font-weight: 500;
  line-height: 1.7em;
}

h6 {
  color: #666;
  font-size: 14px;
}
p {
  font-size: 14px;
}
/* Product Layout */

.product-filter {
  display: flex;
  padding: 30px 0;
}

.sort {
  display: flex;
  align-self: flex-end;
  padding-bottom: 10px;
}

.collection-sort {
  display: flex;
  flex-direction: column;
}

.collection-sort:first-child {
  padding-right: 20px;
}
label {
  color: #666;
  font-size: 10px;
  font-weight: 500;
  line-height: 2em;
  text-transform: uppercase;
}
/***************Main styles****************************/
main {
  background-color: white;
  padding: 20px;
  height: 100%;
  width: 100%;
}
/**********************************Header Styles*/
a {
  text-decoration: none;
  color: black;
  padding: 5px;
}
header .logo {
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  height: 75px;
  margin: 10px;
  width: 75%;
}
.menu {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}
.menu a:hover {
  color: gold;
  font-weight: 600;
  text-decoration: none;
}
.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  height: 30px;
  margin-top: 20px;
}
.footer-menu {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}
.footer-menu a:hover {
  color: gold;
  font-weight: 600;
  text-decoration: none;
}

.footer-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  height: 30px;
  margin-top: 20px;
}
/*Product Styles*/
.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;

  padding: 2%;
  flex: 1 16%;

  background-color: #fff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.product-image img {
  width: 100%;
}

.product-info {
  margin-top: auto;
  padding-top: 20px;
  text-align: center;
}
.product-info h6 {
  padding: 10px;
}
/*************************Response Styles************************************/
@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }

  .products .product-card:first-child,
  .products .product-card:nth-child(2) {
    flex: 2 46%;
  }
}

@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
  .menu {
    border: none;
  }
  .footer-menu {
    border: none;
  }

  .logo {
    background-image: none;
    background-size: 75%;
    margin: 5px;
  }
}

@media (max-width: 480px) {
  h1 {
    margin-bottom: 20px;
  }

  .product-filter {
    flex-direction: column;
  }

  .sort {
    align-self: flex-start;
  }
  .footer-menu {
    border: none;
  }
  .footer-menu ul {
    display: inline;
    border: none;
  }
  .footer-menu ul li {
    padding: 20px;
    text-align: center;
  }
  .menu {
    border: none;
  }
  .menu ul {
    display: inline;
    border: none;
  }
  .menu ul li {
    padding: 20px;
    text-align: center;
  }
}
