/*
COLOR PALETTE
#F7FFF7 - white
#4b4453 - dark gray 
#4244AD - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/

/* Global styles
------------------------------------*/

/* Universal Box Sizing with Inheritance */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  color: #4b4453;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  max-width: 300px;
}
a {
  color: #ffe66d;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 55px;
}
h2 {
  font-size: 35px;
}
h1,
h2 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  margin: 0;
  padding: 10px 0;
}
h3 {
  margin-bottom: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
  display: grid;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider-line > section {
  border-bottom: 1px dotted #4b4453;
  padding: 25px 0px;
}
.divider-line > section:last-child {
  border-bottom: none;
}

/* Profile
-----------------------------------*/
header {
  background: #4244ad;
  color: #f7fff7;
}
/* Projects
------------------------------------*/
.projects {
  background: #f7fff7;
}
.projects a {
  color: #4244ad;
}
.projects .btn {
  color: #f7fff7;
  background: #4244ad;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}
.projects .btn:hover {
  background: rgba(66, 68, 173, 80%);
  display: inline;
}
.divider-line {
}
.project-item {
  overflow: hidden;
}

.project-item li {
  margin-left: 100px;
}

/* Work Experience
------------------------------------*/
.work-experience {
  background: #a1c6d7;
}
/*Process*/

.process {
  background: #a1c6d7;
}

/* Education
------------------------------------*/

/* Contact Info
------------------------------------*/
footer {
  background: #4b4453;
  color: #f7fff7;
}
footer li {
  list-style-type: none;
  padding: 5px;
}
.contact-list {
  list-style: none;
  padding: 0;
}
/*-------------Responsive styles--------------*/
@media screen and (min-width: 750px) {
  .education {
    background-image: url(../images/web_design_notebook_computer.jpg);
    background-position: top right;
    background-size: cover;
    padding-top: 150px;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  header,
  footer {
    text-align: center;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: 75px;
   line-height:.8;
   margin-bottom: 30px;
  padding: 0;
 }
 h2 {
  font-size: 45px;
  line-height: .8;
}
  @media screen and (max-width: 749px) {
 
 
}
